body {
  font-family: 'Francois One', sans-serif;
  position: relative;
  background-color: #b3e6ff;
}

h1 {
  text-align: center;
  font-size: 50px;
  margin: .35em;
  color:  #ff1a1a;
  letter-spacing: 3px;
  text-shadow: 3px 3px 3px grey;
}

main {
  display: flex;
  flex-direction: row;
  width: 60vw;
  margin: auto;
  float: left;
  margin: 2em;
  border: 10px solid gray;
  border-radius: 15px;
  outine: solid 5px yellow;
}

section {
  width: 50vw;
  height:70vh;
  background-color: #1a53ff;
  display: flex;
  flex-direction: column-reverse;
  /*overflow: hidden;*/
  justify-content: space-around;
  align-items: center;
  border: 3px solid yellow;
  border-radius: 15px;
}

div {
  width: 35px;
  height: 35px;
  background-color: yellow;
  border: 3px solid black;
  border-radius: 12px;
  color: white;
  text-align: center;
  padding-top: .3em;
}

aside {
  background-color:  #ff1a1a;
  height: 50px;
  width: 15vw;
  padding: 1em;
  float: left;
  border: 3px solid black;
  border-radius: 10px;
  margin-top: 15%;
  margin-bottom: 1em;
  /*box-sizing: content-box;*/
}

span {
  font-size: 18px;
}

aside:not(.start) {
  background-color: #ffe066;
  padding: .5em;
  font-size: 20px;
  text-align: center;
}

button {
  background-color: #8080ff;
  font-family: 'Francois One', sans-serif;
  font-size: 15px;
  padding: .5em;
  border: 2px solid black;
  border-radius: 5px;
  /*margin-left: 10vw;*/
  position: relative;

}

@media (min-width: 860px) {
  aside {
    margin-top: 10%;
  }
  button {
    position: fixed;
    bottom: 0;
    right: 0;
    clear: both;
    margin-bottom: 8em;
    margin-right: 12em;
  }

}
