body {
  font-family: 'Francois One', sans-serif;
  position: relative;
  background-color: #b3e6ff;
}

h1 {
  text-align: center;
}

main {
  display: flex;
  flex-direction: row;
  width: 60vw;
  margin: auto;
  float: left;
  margin: 2em;
  border: 10px solid gray;
  border-radius: 15px;
  outine: solid 5px yellow;
}

section {
  width: 50vw;
  height:70vh;
  background-color: blue;
  display: flex;
  flex-direction: column;
  /*overflow: hidden;*/
  justify-content: space-around;
  align-items: center;
  border: 3px solid yellow;
  border-radius: 15px;
}

div {
  width: 35px;
  height: 35px;
  background-color: yellow;
  border: 3px solid black;
  border-radius: 12px;
}

aside {
  background-color: red;
  height: 50px;
  width: 15vw;
  padding: 1em;
  margin: 1em;
  margin-right: 0;
  float: left;
  border: 3px solid black;
  border-radius: 10px;
  margin-top: 25%;
}

span {
  font-size: 18px;
}

aside:not(.start) {
  background-color: #ffe066;
  padding: .5em;
  font-size: 20px;
  text-align: center;
}
